<!DOCTYPE html>
<html ng-app="minesweeper-signalr">
<head>
  <title></title>
  <link href="minesweeper.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div ng-controller="MultiplayerGameCtrl">
    <div>
      <form name="nameForm" ng-submit="setName()">
      <label for="name">
        Name</label>
      <input type="text" id="name" name="name" ng-model="name" required />
      <button ng-disabled="nameForm.$invalid">
        Set</button>
      </form>
    </div>
    <div ng-controller="MineSweeperCtrl">
      <h4>
        You</h4>
      <div class="grid">
        <div class="row" ng-repeat="row in grid track by $index">
          <div class="cell" ng-repeat="cell in row track by $index" ng-class="{ hidden: cell.hidden }"
            ng-click="reveal(cell)" right-click="cell.flag = !cell.flag">
            <span class="flag" ng-show="cell.hidden && cell.flag"></span><span class="mine" ng-show="!cell.hidden && cell.mine">
            </span><span ng-show="!cell.hidden && !cell.mine && cell.nearby > 0" ng-bind="cell.nearby"
              class="nearby-{{cell.nearby}}"></span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div ng-repeat="player in players track by player.ConnectionId">
        <h4 ng-bind="player.Name">
        </h4>
        <div class="grid">
          <div class="row" ng-repeat="row in player.Grid track by $index">
            <div class="cell" ng-repeat="cell in row track by $index" ng-class="{ hidden: !cell }">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="Scripts/jquery-1.10.2.min.js"></script>
  <script src="Scripts/jquery.signalR-1.1.4.min.js"></script>
  <script src="Scripts/angular.min.js"></script>
  <script src="/signalr/hubs"></script>
  <script src="Scripts/minesweeper.js"></script>
  <script src="Scripts/minesweeper-signalr.js"></script>
</body>
</html>
