<!DOCTYPE html>
<html ng-app="minesweeper">
<head>
    <title>Mine Sweeper in Angular</title>
    <link rel="stylesheet" href="minesweeper.css"/>
</head>
<body>
<div ng-controller="MineSweeperCtrl">
    <div class="grid">
        <div class="row" ng-repeat="row in grid track by $index">
            <div class="cell" ng-repeat="cell in row track by $index"
                    ng-class="{ hidden: cell.hidden }"
                    ng-click="reveal(cell)">
                <span class="mine" ng-show="!cell.hidden && cell.mine"></span>
                <span ng-show="!cell.hidden && !cell.mine && cell.nearby > 0" ng-bind="cell.nearby"></span>
            </div>
        </div>
    </div>
</div>
<script src="../bower_components/angular/angular.js"></script>
<script src="js/minesweeper.js"></script>
</body>
</html>