.row {
    clear: both;
    margin: 0;
    padding: 0;
}

.cell {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 1px;
}

.cell.hidden {
    background: #ccc;
    cursor: pointer;
}

.cell.hidden:hover {
    background: #eee;
}

.mine:after {
    font-family: Wingdings, sans-serif;
    content: "M";
}

.flag {
    color: red;
}

.flag:after {
    font-family: Wingdings, sans-serif;
    content: "P";
}